<article class="schedule-container">
  <app-schedule-filter
    class="schedule-filters"
    (selected)="onUpdateDate($event)"
  ></app-schedule-filter>
  <span *ngIf="loading" class="loading">Loading...</span>
  <span *ngIf="!loading && noData">There is no data on this date...</span>
  <section class="schedule-list" *ngIf="!loading && !noData">
    <app-schedule-item
      *ngFor="let items of scheduleItems"
      [items]="items"
      [name]="items[0].name"
      [scheduleId]="schedule.id"
      (closeRoomModal)="onCloseRoom($event)"
    ></app-schedule-item>
  </section>
</article>
