$disabled-color: rgba(0, 0, 0, 0.12);
$primary-text-color: rgba(35, 36, 37, 0.6);
$light-gray: #b0bec5;
$light-grayish-blue: #cfd8dc;
$gray: #607d8b;
$dark-gray: #455a64;
$white: #fff;
$black: #000;
$red: #ff1744;
$green: #00c853;
$blue: #1565c0;
$dark-blue: #0d47a1;
$main-background-color: #f7f7fc;
$top-filters-background: $main-background-color;
