@import "../../../../scss/vars/fonts";
:host {
  .schedule-filter {
    display: flex;
    height: 2.5rem;

    .schedule-filter-item > input {
      display: none;
    }
  }

  .schedule-filter-item + .schedule-filter-item {
    margin-left: 0.5rem;
  }

  .schedule-picker {
    align-items: center;
    margin-left: 0.5rem;
    display: flex;
    width: 20rem;

    .picker {
      visibility: hidden;
      width: 0;
    }

    .selected-day {
      @extend %subtitle1;
      margin-left: 1rem;
    }
  }
}
