@import "vars/colors";
@import "vars/fonts";
@import "vars/decorations";
@import "vars/sizes";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

app-root {
  height: 100%;
}
